.sidebar-container {
  top: 0px;
  left: 0px;
  width: 400px;
  height: 1080px;
  background-color: var(--unnamed-color-ffffff);
  box-shadow: 6px 4px 6px #00000029;
  opacity: 1;
}

.logo {
  top: 30px;
  left: 84px;
  width: fit-content;
  height: 88px;
  margin: 0 auto;
  letter-spacing: 0px;
  text-align: left;
  font-family: Montserrat;
  font-size:  72px ;
  letter-spacing: 0px;
  color: #228356;
  opacity: 1;
}